@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
a {color: inherit; text-decoration: none;}
img {max-width: 100%; vertical-align: middle;}
ul {list-style-type: none;}
.cf:after,
.cf:before {content: ""; display: block; clear: both;}
header, section, figure, video {display: block;}

body {width: 100%; height: 100%; position: fixed;
    background: #111; color:#bbb;
}

.vid {position: fixed; width: 100%; height: 100%; 
    top:0; left: 0;
}

.vid video { min-width: 100%; min-height: 100%;
    position: absolute; top:50%; left:50%;
    transform:translate(-50%,-50%)
}

header {position: fixed; width: 700px; height: 100%;
background: #b9fb05; transform: skew(-40deg); 
left: -420px;
}
h1 {position: absolute; top:40px; right: 150px; transform: skew(40deg); }
h1 img {width: 280px;}

#gnb {width:220px; position: absolute; top:200px; right: 0px;}
.depth1 >li.on {
    background:#111; color:#fff;
}
.depth1 >li:hover {
    background:#111; color:#fff;
}
.depth1 >li {
color: #222; text-align: left; font-size: 18px; font-weight: bold;
transition: all 0.4s; position: relative;
}
.depth1 >li >a {height: 50px; line-height: 50px;
    display: block; padding-left:40px;}
#gnb em {transform: skew(40deg); display: block; font-style: normal;}

.depth2 {position: absolute; top:0; left: 0px;
    width: 150px; opacity: 0; transition: all 0.5s;
}

.depth1 >li.on .depth2 {
    opacity: 0.8; display: block; left: 205px; top:-10px
}

.depth2 >li {
    background: #222;
    border-bottom: 1px solid #b9fb05;
    font-size: 16px; color: #fff;
    margin-bottom: 3px; text-align:center;
}
.depth2 >li > a { height: 40px; line-height: 40px; display: block;}
.depth2 >li:hover {background: #b9fb05; color:#111;}
.depth1 >li:hover .depth2 {opacity: 0.8;
    left: 205px;
 }
